{% extends "detector/base.html" %} {% block title %}ユーザー新規登録{% endblock
%} {% block content %}
<div class="mx-auto dt-auth-main">
  <div class="card dt-auth-signup">
    <header>ユーザー新規登録</header>
    <section>
      <form
        action="{{ url_for('auth.signup', next=request.args.get('next')) }}"
        method="POST"
        novalidate="novalidate"
        class="form-signin"
      >
        {{ form.csrf_token }}

        {% for message in get_flashed_messages() %}
        <div class="dt-auth-flash">{{ message }}</div>
        {% endfor %}

        <!-- ユーザー名入力欄 -->
        {{ form.username(size=30, class="form-control dt-auth-input", placeholder="ユーザー名") }}
        <!-- ユーザー名入力欄はここまで -->

        <!-- メールアドレス入力欄 -->
        {{ form.email(class="form-control dt-auth-input", placeholder="メールアドレス") }}
        <!-- メールアドレス入力欄はここまで -->

        <!-- パスワード入力欄 -->
        {{ form.password(class="form-control dt-auth-input", placeholder="パスワード") }}
        <!-- パスワード入力欄はここまで -->

        <p>{{ form.submit(class="btn btn-md btn-primary btn-block dt-auth-btn") }}</p>
      </form>
    </section>
  </div>
</div>

{% endblock %}
